header{
    position: relative;
   
    z-index: 1000;
    background-color: #343434;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.logo-container{
    display: flex;
    align-items: center;
}


.nav-menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    transition: max-height 0.5s ease;
}

.nav-menu li{
    margin: 0 15px;
}

.nav-menu a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hamb-menu{
    display: none;
    cursor: pointer;
}

.menu-icon{
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 4px 0;
    border-radius: 20px;
}

@media (max-width: 768px){
    nav{
        flex-direction: row;
        align-items: center;
    }
    .nav-menu{
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        margin: 0;
        width: 87vw;
        height: 40vh;
        background-color: rgba(40, 33, 33, 0.9);
        flex-direction: column;
        max-height: 0;
        transition: max-height 0.5s ease;
        align-items: flex-start;
    }

    .nav-menu a{
        color: #fff;
    }

    .nav-menu.active{
        display: flex;
        max-height: 300px;
        flex-direction: column;
    }

    .hamb-menu{
        display: block;
        
    }
    
}