header{
    background-color: #f8f9fa;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    flex: 1;
}

.logo{
    width: 100px;
    height: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

ul li a:hover{
    color: #007bff;
}
