.grid-container{
    display: grid;
    gap: 20px;
    padding: 20px;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-image {
    width: 100%;
    height: auto;
    max-width: 200px; /* Limitar el tamaño máximo de las imágenes */
    object-fit: cover; /* Mantiene el aspecto de la imagen */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una ligera sombra para mejorar la estética */
  }



@media (max-width: 768px){
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en tablets */
      }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 2 columnas en pantallas móviles */
        gap: 10px; /* Menos espacio entre imágenes en pantallas pequeñas */
    }
    
}