.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.carousel-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.image-container {
    width: 300px; /* Cambia el tamaño según sea necesario */
    height: 300px; /* Imágenes cuadradas */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px; /* Espaciado entre los botones y la imagen */
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la relación de aspecto */
    border-radius: 10px; /* Opcional: bordes redondeados */
}