.features {
    padding: 20px;
    display: flex;
    gap: 20px;
  }
  
  .person-card {
    display: flex;
    align-items: center;
    
    justify-content: center; /* Centramos las imágenes */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .profile-pic {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 10%;
    margin: 20px;
  }
  
  .info-card {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  
  .card-content {
    padding-left: 20px;
    text-align: left;
  }
  
  .card-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-content p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }

  @media (max-width: 768px){
    .features{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .card-content h3{
        font-size: 18px;
    }

    .card-content p{
        font-size: 14px;
    }
  }